:root{
    background-color: #e5e5e5;
}
.display-prompt{
    display: flex;
    justify-content: center;

}
.button-prompt{
    display: flex;
    margin: 50px auto;
    border: solid 2px black;
}
.main-container{
    margin: 10px 100px;
}
.task-prompt{
    display: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 0px 100px;
    text-align: center;
    justify-content: center;
}
input{
    margin: 0px 0;
    border-radius: 5px;
}
label{
    margin: 0px 0;
}
#entry{
    margin: 20px 0;
}
h1{
    font-family:'helvetica';
    font-size: larger;
    text-align: center;
}
h2{
    font-family:'helvetica';
    font-size: medium;
    text-align: center;
}
p{
    font-family:'helvetica';
    font-size: medium;
}

.initial-container{
    /* background-color: salmon;
    border: solid 3px rgb(179, 65, 65); */

}

.important-container{
    /* background-color: rgb(53, 214, 109);
    border: solid 3px rgb(0, 106, 11); */

}
.new-task{
    /* display: none; */
    display: grid;
    justify-content: space-around;
    grid-template-columns: 70px auto auto;
    grid-template-areas: 'checkbox title title'
                        'description description description'
                        'duedate swtich-group switch-group';
    padding: 10px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    border: solid 2px rgb(182, 182, 182);

}
.new-title{
    grid-area: title;
    text-align: left;
}
.new-description{
    grid-area: description;
    text-align: center;
    margin: auto;
}
.new-due-date{
    grid-area: duedate;
}
.check-box{
    grid-area: checkbox;
    border: solid 2px black;
    font: inherit;
    width: 1.20em;
    height: 1.20em;

    margin: auto;
}
.checked-task{
}
.unchecked-task{
    background-color: gray;
}
.important-task{
    /* display: block; */
    display: grid;
    justify-content: space-around;
    grid-template-columns: 70px auto auto;
    grid-template-areas: 'checkbox title title'
                        'description description description'
                        'duedate swtich-group switch-group';
    padding: 10px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
    border: solid 2px #9ce069;
}
.important-container>h2{
    color: #9ce069;
}
#switch-group{
    justify-self: end;
    font-weight: bold;
    border: solid 2px black;
    grid-area: switch-group;
    height: 30px;
    width: 200px;
    margin: auto 0 auto auto;
}
/* Task elements values */