.task-prompt{
    display: none;
    background-color: purple;
}


.new-task{
    /* display: none; */
    padding: 10px;
    background-color: yellow;
    margin: 5px 0;
}
.checked-task{
    background-color: green;
}
.unchecked-task{
    background-color: gray;
}